<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
		<!-- theme_foundation: Templates/Theme/ContentMenuSidebar.html [begin] -->

		<div id="templateContentMenuSidebar">
			<div class="row">

				<!--
					Pay attention to the responsive behaviour!
					The menu column will slide to top when it switch into mobile view.  -->

				<!-- Firstly the menu column, because Bootstrap not allows to pull/push xs and col-12 -->
				<div id="contentMenu" class="small-12 medium-2 medium-push-10 large-2 large-push-7 columns">
					<f:render partial="Content/Menu" section="Default" arguments="{_all}" />
				</div>
				<div id="contentMain" class="small-12 medium-7 medium-pull-3 large-7 columns">
					<f:render partial="Content/Main" section="Default" arguments="{_all}" />
				</div>
				<aside id="contentSidebar" class="small-12 medium-3 medium-pull-2 large-3 large-push-0 columns">
					<f:render partial="Content/Sidebar" section="Default" arguments="{_all}" />
				</aside>
			</div>
		</div>

		<!-- theme_foundation: Templates/Theme/ContentMenuSidebar.html [end] -->
	</f:section>
</div>