<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
		<!-- theme_foundation: Templates/Theme/SidebarContent.html [begin] -->

		<div id="templateSidebarContent">
			<div class="row">

				<!--
					Pay attention to the responsive behaviour!
					The sidebar column will slide to bottom
					when it switch into mobile view.  -->

				<!-- Firstly the main column, because Bootstrap not allows to pull/push xs and col-12 -->
				<div id="contentMain" class="small-12 medium-9 medium-push-3 large-9 large-push-3 columns">
					<f:render partial="Content/Main" section="Default" arguments="{_all}" />
				</div>
				<aside id="contentSidebar" class="small-12 medium-3 medium-pull-9 large-3 large-pull-9 columns">
					<f:render partial="Content/Sidebar" section="Default" arguments="{_all}" />
				</aside>

			</div>
		</div>

		<!-- theme_foundation: Templates/Theme/SidebarContent.html [end] -->
	</f:section>
</div>