{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_foundation:: Layouts/Startsite.html [begin] -->
<div id="layoutStartsite">
    <nav class="top-bar" data-topbar="" role="navigation">
        <section class="top-bar-section">
            <ul class="title-area">
                <li class="name">
                    <h1><f:cObject typoscriptObjectPath="lib.header.logo.main" /></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
            </ul>
            <f:cObject typoscriptObjectPath="lib.menu.main" />
                    <theme:widget.languageMenu
                            availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
                            currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
                            defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
                            defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
                            defaultLanguageFlag="{theme:constant(constant: 'themes.languages.default.flag')}"
                            />
        </section>
        </nav>

	<div class="container">
		<section id="areaFeature" class="page-header">
			<f:cObject typoscriptObjectPath="lib.content.feature" />
		</section>

		<main id="areaMain" class="row">
			<div id="menuBreadcrumbWrapper">
				<f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
			</div>
			<f:render section="Default" />
		</main>

		<section id="areaExtended" class="row">
			<f:cObject typoscriptObjectPath="lib.content.extended" />
		</section>

	</div>

	<f:render partial="Area/Footer" section="Default" arguments="{_all}" />
</div>
<!-- theme_foundation:: Layouts/Startsite.html [end] -->